1.Write a code to reverse a string.

In [ ]:
string = "Welcome"
reversed_string = string[::-1]
print(reversed_string)

emocleW

2.Write a code to count the number of vowels in a string.

In [ ]:
string = "Good Afternoon"
vowels = "aeiouAEIOU"
count = sum(string.count(vowel) for vowel in vowels)
print(count)

6

3.Write a code to check if a given string is palindrome or not.

In [ ]:
string = "noon"
if string == string[::-1]:
  print("It's a palindrome")
else:
  print("It's not a palindrome")

It's a palindrome

4.Write a code to check if two given strings are anagrams of each other.

In [ ]:
string1 = "listen"
string2 = "silent"
if sorted(string1) == sorted(string2):
  print("They are anagrams of each other")
else:
  print("They are not anagrams of each other")

They are anagrams of each other

5.Write a code to find all occurrences of a given substring with another string.

In [ ]:
string = "it goes on and on and on"
sub_str = "on"
res = [i for i in range(len(string)) if string.startswith(sub_str, i)]
print("The occurrences given substring are", res)

The occurrences given substring are [8, 15, 22]

6.Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
s = "aaaasssssddddfffaaa"
compressed=""
count=1
for i in range(1,len(s)):
  if s[i] == s[i-1]:
    count += 1
  else:
    compressed += s[i-1] + str(count)
    count = 1
compressed += s[i-1] + str(count)
print(compressed)

a4s5d4f3a3

7.Write a code to determine if a string has all unique characters.

In [ ]:
string = "pwskills"
if len(string) == len(set(string)):
  print("The string has all unique characters")
else:
  print("The string doesn't have all unique characters")

The string doesn't have all unique characters

8.Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string = "Good Evening"
print(string.upper())
print(string.lower())

GOOD EVENING
good evening

9.Write a code to count the number of words in the string.

In [ ]:
string = "Today is a wonderful day."
words = string.split()
words
print("Number of words in given string:", len(words))

Number of words in given string: 5

10.Write a code to concatenate two strings without using the + operator.

In [ ]:
str1 = "Good"
str2 = " Evening"
concatenated = f"{str1}{str2}"
print(concatenated)

Good Evening

11.Write a code to remove all occurrences of a specific element from a list.

In [ ]:
list1 = [15,12,14,30,15,21,24,15,46]
n = 15
for i in list1:
  if i == n:
    list1.remove(i)
print("The list after removing '15' element:")
print(list1)

The list after removing '15' element:
[12, 14, 30, 21, 24, 46]

12.Implement a code to find the second largest number in a given list of integers.

In [ ]:
numbers = [12, 33, 56, 33, 35, 25, 67, 87, 78, 99]
unique_numbers = set(numbers)
sorted_list = sorted(unique_numbers, reverse=True)
if len(sorted_list) > 1:
    second_largest = sorted_list[1]
else:
    second_largest = None
print("The second largest number in a given list of integers is:", second_largest)

The second largest number in a given list of integers is: 87

13.Create a code to count the occurrences of each element in list and return a dictionary with elements as keys and their counts as values.

In [ ]:
IPL_Winners = ["RR","DC","CSK","CSK","KKR","MI","KKR","MI","SRH","MI","CSK","MI","MI","CSK","GT","CSK","KKR"]
No_of_times = {}
for team in IPL_Winners:
  if team in No_of_times:
    No_of_times[team] += 1
  else:
    No_of_times[team] = 1
print("Teams with number of IPL cups:",No_of_times)

Teams with number of IPL cups: {'RR': 1, 'DC': 1, 'CSK': 5, 'KKR': 3, 'MI': 5, 'SRH': 1, 'GT': 1}

14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
  list1 = [33,55,21,12,37,82,77]
  length = len(list1)
  for i in range(length//2):
     list1[i],list1[length - 1 -i] = list1[length - 1 -i],list1[i]
  print(list1)

[77, 82, 37, 12, 21, 55, 33]

15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
initial_list = ["hi","hello","hi","hi","hello","good day"]
unique_list = []
for i in initial_list:
  if i not in unique_list:
    unique_list.append(i)
print(unique_list)

['hi', 'hello', 'good day']

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
given_list = [12, 14, 23, 28, 37,42, 48]
if given_list == sorted(given_list):
  print("The given list is sorted in ascending order.")
elif given_list == sorted(given_list,reverse=True):
  print("The given list is sorted in descending order.")
else:
  print("The given list is not sorted")

The given list is sorted in ascending order.

17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
list1 = [3,6,9,12,15]
list2 = [5,10,15,20,25]
merged_list = list1 + list2
single_sorted = sorted(merged_list)
print("Merged sorted list:", single_sorted)

Merged sorted list: [3, 5, 6, 9, 10, 12, 15, 15, 20, 25]

18.Implement a code to find the intersection of two given lists.

In [ ]:
list1 = [3,6,9,12,15,18]
list2 = [9,18,27,36,45,54]
intersection = []
for i in list1:
  if i in list2:
    intersection.append(i)
print("Intersection of two given lists:", intersection)

Intersection of two given lists: [9, 18]

19.Create a code to find the union of two lists without duplicates.

In [ ]:
list1 = [3,6,9,12,15,18]
list2 = [9,18,27,36,45,54]
union = []
for i in list1:
  if i not in union:
    union.append(i)
for j in list2:
  if j not in union:
    union.append(j)
print("union of given lists without duplicates:", union)

union of given lists without duplicates: [3, 6, 9, 12, 15, 18, 27, 36, 45, 54]

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
given_list = [1,2,3,4,5,6,7,8,9]
length = len(given_list)
for i in range(length):
  j = (i*2+1)%length
  given_list[i],given_list[j] = given_list[j],given_list[i]
print("Shuffled list:",given_list)

Shuffled list: [5, 4, 3, 8, 7, 6, 1, 2, 9]

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.

In [ ]:
tuple1 = (4,8,12,16,20,24)
tuple2 = (6,12,18,24)
new_tuple = tuple(i for i in tuple1 if i in tuple2)
print("New tuple is:", new_tuple)

New tuple is: (12, 24)

22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.

In [ ]:
set1_input = input("Enter your first set of integers using commas:")
set1 = set(int(num) for num in set1_input.split(','))
set2_input = input("Enter your second set of integers using commas:")
set2 = set(int(num) for num in set2_input.split(','))
intersection = set1 & set2
print("Intersection of given sets:", intersection)

Enter your first set of integers using commas:3,4,7,8,9,1,2,6
Enter your second set of integers using commas:1,3,5,6
Intersection of given sets: {1, 3, 6}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
tuple1 = (1,3,5)
tuple2 = (4,5,6)
combined_tuple = tuple1 + tuple2
print("Concatenated tuple:", combined_tuple)

Concatenated tuple: (1, 3, 5, 4, 5, 6)

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
set1_input = input("Enter your first set of strings using commas:")
set1 = set(string.strip() for string in set1_input.split(','))
set2_input = input("Enter your second set of strings using commas:")
set2 = set(string.strip() for string in set2_input.split(','))
difference = set1 - set2
print("The elements that are present in first set but not in second set are:", difference)

Enter your first set of strings using commas:CSK,MI,DC,RCB,GT,SRH
Enter your second set of strings using commas:KKR,RCB,DC,LSG,SRH
The elements that are present in first set but not in second set are: {'MI', 'GT', 'CSK'}

25.Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.

In [ ]:
tuple_input = input("Enter a tuple of elements separated by commmas:")
original_tuple = tuple(item.strip() for item in tuple_input.split(','))
first_index = int(input("Enter the first integer (index): "))
second_index = int(input("Enter the second integer (index): "))
if first_index < second_index:
    new_tuple = original_tuple[first_index:second_index]
else:
    new_tuple = original_tuple[second_index:first_index]
print("New tuple with elements from the specified indices:", new_tuple)

Enter a tuple of elements separated by commmas:CSK,MI,DC,RCB,GT,SRH,KKR,LSG,GT
Enter the first integer (index): 5
Enter the second integer (index): 1
New tuple with elements from the specified indices: ('MI', 'DC', 'RCB', 'GT')

26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
set1_input = input("Enter your first set of characters using commas:")
set1 = set(item.strip() for item in set1_input.split(','))
set2_input = input("Enter your second set of characters using commas:")
set2 = set(item.strip() for item in set2_input.split(','))
union = set1 | set2
print("Union of given sets:", union)

Enter your first set of characters using commas:onion,lemon,tomato,55,True
Enter your second set of characters using commas:lemon,salt,pickle, 75
Union of given sets: {'onion', '55', 'pickle', 'salt', 'lemon', 'True', '75', 'tomato'}

27.Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [ ]:
input_tuple = input("Enter the integers using commas:")
integer_tuple = tuple(int(num) for num in input_tuple.split(','))
max_value = max(integer_tuple)
min_value = min(integer_tuple)
result = (max_value, min_value)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter the integers using commas:55,78,32,84,12,06,33
Maximum value: 84
Minimum value: 6

28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [ ]:
set1 = {2,4,6,8,10,12,14,16,18,20}
set2 = {3,6,9,12,15,18,21}
union = set1 | set2
intersection = set1 & set2
difference = set1 - set2
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of the two sets:", union)
print("Intersection of the two sets:", intersection)
print("Difference of Set 1 from Set 2:", difference)

Set 1: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
Set 2: {18, 3, 21, 6, 9, 12, 15}
Union of the two sets: {2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21}
Intersection of the two sets: {18, 12, 6}
Difference of Set 1 from Set 2: {2, 4, 8, 10, 14, 16, 20}

29.Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
tuple_input = input("Enter a tuple of elements separated by commas: ")
input_tuple = tuple(item.strip() for item in tuple_input.split(','))
element = input("Enter the element to count: ")
count = input_tuple.count(element)
print("The element", element, "occurs", count, "times in the tuple.")

Enter a tuple of elements separated by commas: it, goes, on, and, on, on , on
Enter the element to count: on
The element on occurs 4 times in the tuple.

30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [ ]:
set1_input = input("Enter your first set of strings separated by commas: ")
set1 = set(item.strip() for item in set1_input.split(','))
set2_input = input("Enter your second set of strings separated by commas: ")
set2 = set(item.strip() for item in set2_input.split(','))
symmetric_difference = set1 ^ set2
print("Symmetric difference of the two sets:", symmetric_difference)

Enter your first set of strings separated by commas: 5,7,11,23,6
Enter your second set of strings separated by commas: 7,6,12,24
Symmetric difference of the two sets: {'24', '5', '11', '23', '12'}

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [ ]:
IPL_Winners = ["RR","DC","CSK","CSK","KKR","MI","KKR","MI","SRH","MI","CSK","MI","MI","CSK","GT","CSK","KKR"]
No_of_times = {}
for team in IPL_Winners:
  if team in No_of_times:
    No_of_times[team] += 1
  else:
    No_of_times[team] = 1
print("Teams with number of IPL cups:",No_of_times)

Teams with number of IPL cups: {'RR': 1, 'DC': 1, 'CSK': 5, 'KKR': 3, 'MI': 5, 'SRH': 1, 'GT': 1}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
merged_dict = dict1.copy()
for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [ ]:
nested_dict = {
    'a':{
        'b':{
            'c':1,
            'd':2
        }
    },
    'x':{
        'y':3
    }
}

keys = ['a', 'b', 'c']
current_level = nested_dict
for key in keys:
    if key in current_level:
        current_level = current_level[key]  # Fixed: use current_level
    else:
        current_level = None
        break

print("value:", current_level)

value: 1

34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.

In [2]:
input_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grapes': 3}
items = list(input_dict.items())
for i in range(len(items)):
    for j in range(len(items) - 1):
        if items[j][1] > items[j + 1][1]:
            items[j], items[j + 1] = items[j + 1], items[j]
sorted_dict_ascending = dict(items)
for i in range(len(items)):
    for j in range(len(items) - 1):
        if items[j][1] < items[j + 1][1]:
            items[j], items[j + 1] = items[j + 1], items[j]
sorted_dict_descending = dict(items)
print("Sorted in ascending order:", sorted_dict_ascending)
print("Sorted in descending order:", sorted_dict_descending)

Sorted in ascending order: {'banana': 2, 'grapes': 3, 'apple': 5, 'orange': 8}
Sorted in descending order: {'orange': 8, 'apple': 5, 'grapes': 3, 'banana': 2}

35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [3]:
original_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2
}
inverted_dict = {}
for key, value in original_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}